.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 56px;
    background-color: transparent;
    width: 72px;
    box-sizing: border-box;
    padding-left: 4px;
    padding-right: 4px;
    height: 720px;
    z-index: 2;
}

.sidebar-scope{
  background-origin: padding-box;
  background-clip: border-box;
  justify-content: space-between;
  height: 296px;
  width: 64px;
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}

.sidebar-icon{
    height: 24px;
}

.sidebar-link{
   height: 74px;
   width: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 10px;
    color: #ffffff;
    padding: 16px 0px 14px;
}

.sidebar-link:hover{
    background-color: #333;
    border-radius: 10px;
}
